<div class="menu-sidebar">
  <div class="djl-msg-wrap ui-g">
    <a class="avatar-wrap ui-g-12" (click)="showMsgDialog()">
      <img src="" alt="" class="avatar">
    </a>
    
    <div class="djl-msg ui-g-12">
      <h3 class="djl-name">DJL箫氏</h3>
      <p class="djl-job">Front-End-Enginerr</p>
    </div>
  </div>
  <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
  <div class="more-about-me">
    <a href=""><i class="fa fa-github"></i></a>
    <a href=""><i class="fa fa-weixin"></i></a>
    <a href=""><i class="fa fa-qq"></i></a>
  </div>
</div>

<app-djl-msg [msgVisible]="userMsgVisible" (msgVisibleChange)="onMsgVisibleChange($event)"></app-djl-msg>
