<div class="menu-sidebar">
  <div class="djl-msg-wrap">
    <a class="avatar-wrap" [routerLink]="'djlMsg'">
      <img src="assets/images/avatar.png" alt="" class="avatar">
    </a>
    <h3 class="djl-name">DJL箫氏</h3>
    <p class="djl-job">Front-End-Enginerr</p>
  </div>
  <div class="menu-wrap">
    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
  </div>
  <div class="more-about-me">
    <a href=""><i class="fa fa-github"></i></a>
    <a href=""><i class="fa fa-weixin"></i></a>
    <a href=""><i class="fa fa-qq"></i></a>
  </div>
</div>
