<ng-container>
  <ul class="article-wrap">
    <li class="article">
      <div class="content">
          <h4>大家都说， Word没有什么用，只是一个打字工具</h4>
          <p>大家都说， Word没有什么用，只是一个打字工具。确实，只要你花费足够的时间，
            就可以做出你想要的效果。 但，其实你想要的效果，只用你原来花费的不到一半时间就可以完成。 Wor...
          </p>
      </div>
      
      <a  class="picture">
          <img src="assets/images/avatar.png/" alt="..." class="img-thumbnail">
      </a>
      <div class="msg">
        <a href="" class="tag --mini">读书</a>
        <a href="" class="tag --mini">看报</a>
        <a href="" class=""><i class="fa fa-eye"></i>184</a>
        <a href="" class=""><i class="fa fa-commenting">37</i></a>
        <a href="" class=""><i class="fa fa-heart"></i>21</a>
        <a href="javascript: void(0)" class=""><i class="fa fa-clock-o"></i>2017-11-25</a>
      </div>
    </li>

    <li class="article">
        <div class="content">
            <h4>大家都说， Word没有什么用，只是一个打字工具</h4>
            <p>大家都说， Word没有什么用，只是一个打字工具。确实，只要你花费足够的时间，
              就可以做出你想要的效果。 但，其实你想要的效果，只用你原来花费的不到一半时间就可以完成。 Wor...
            </p>
        </div>
        
        <a  class="picture">
            <img src="assets/images/avatar.png/" alt="..." class="img-thumbnail">
        </a>
        <div class="msg">
          <a href="" class="tag --mini">读书</a>
          <a href="" class="tag --mini">看报</a>
          <a href="" class=""><i class="fa fa-eye"></i>184</a>
          <a href="" class=""><i class="fa fa-commenting">37</i></a>
          <a href="" class=""><i class="fa fa-heart"></i>21</a>
          <a href="javascript: void(0)" class=""><i class="fa fa-clock-o"></i>2017-11-25</a>
        </div>
      </li>
      <li class="article">
          <div class="content">
              <h4>大家都说， Word没有什么用，只是一个打字工具</h4>
              <p>大家都说， Word没有什么用，只是一个打字工具。确实，只要你花费足够的时间，
                就可以做出你想要的效果。 但，其实你想要的效果，只用你原来花费的不到一半时间就可以完成。 Wor...
              </p>
          </div>
          
          <a  class="picture">
              <img src="assets/images/avatar.png/" alt="..." class="img-thumbnail">
          </a>
          <div class="msg">
            <a href="" class="tag --mini">读书</a>
            <a href="" class="tag --mini">看报</a>
            <a href="" class=""><i class="fa fa-eye"></i>184</a>
            <a href="" class=""><i class="fa fa-commenting">37</i></a>
            <a href="" class=""><i class="fa fa-heart"></i>21</a>
            <a href="javascript: void(0)" class=""><i class="fa fa-clock-o"></i>2017-11-25</a>
          </div>
        </li>
  </ul>
</ng-container>
