<div class="djl-msg-wrap">
  <div class="panel panel-info">
    <div class="panel-heading">用户信息</div>
    <div class="panel-body msg-content">
      <div class="avatar-wrap">
        <a href="" (click)="changeAvatar()" class="avatar">
          <img src="assets/images/avatar.png" alt="" #avatar width="50px" height="50px">
        </a>
        <app-djl-upload
          [name]="'avatar'"
          [previewWrap]="avatar"
          method='post'
          url='https://jsonplaceholder.typicode.com/albums/'
          accept="image/jpeg,image/png"
          (onError)="uploadFailed($event)"
          (onUpload)="uploadSuccess($event)"
          (onSelect)="fileSelect($event)">
        </app-djl-upload>
      </div>
      <div>
        <div class="form-group nickname">
          <label for="nickname">Nickname</label>
          <input type="text" class="form-control" [(ngModel)]="nickname" id="nickname">
        </div>

        <div class="form-group ename">
          <label for="ename">Ename</label>
          <input type="text" class="form-control" [(ngModel)]="ename" id="ename">
        </div>

        <div class="form-group ename">
          <label for="password">password</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password">
        </div>
      </div>
      <div>
        <button pButton type="button" (click)="logOut()" label="退出登录" class="ui-button-danger"></button>
        <button pButton type="button" (click)="save()" label="保存" class="ui-button-default"></button>
      </div>
    </div>

  </div>
</div>
