.djl-container{
  position: relative;
  display: flex;
}
.menu-sidebar{
  flex: 0 0 150;
}

#menu-icon-wrap{
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 3700;
  display: none;
  .menu-icon {
    display: block;
    padding: 5px 10px;
    background: rgba(128, 136, 144, 0.5);
    border-radius: 0.35em;
    i {
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  .menu-sidebar{
    height: auto;
    display: none;
  }
  #menu-icon-wrap{
    display: block;
  }
}

