<!--The content below is only a placeholder and can be replaced.-->
<div class="djl-container">
  <div class="menu-sidebar">
    <app-menu-left></app-menu-left>
  </div>
  <ng-container class="">
    <router-outlet></router-outlet>
  </ng-container>


  <!-- only display on mobile device -->
  <p-sidebar [(visible)]="sidebarVisible" position="left">
      <app-menu-left></app-menu-left>
  </p-sidebar>

  <div id="menu-icon-wrap">
    <a class="menu-icon" (click)="showSidebar()">
      <i class="fa fa-list"></i>
    </a>
  </div>
  <!-- only display on mobile device (end) -->
</div>
