<ng-container>
  <div class="markdown-editor-wrap">
    <div class="text-area">
        <div class="form-group title-input">
          <input type="text" class="form-control" placeholder="请输入文章标题">
        </div>
        <div class="tools-bar">
          <i class="fa fa-columns" aria-hidden="true" *ngIf="!isFullScreen" (click)="toggleScreen()"></i>
          <i class="fa fa-expand" aria-hidden="true" *ngIf="isFullScreen" (click)="toggleScreen()"></i>
        </div>
      <textarea id="text-area" rows="6" (input)="inputChange($event)" [(ngModel)]="content"></textarea>
    </div>
    <div class="preivew-area" #previewArea [innerHTML]="htmlContent" *ngIf="isFullScreen">
    </div>
  </div>
</ng-container>
